<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<style>
.head {
padding: 10px;
text-align: center;
color: brown;
font-size: 30px;
}
.forms {
color: brown;
text-align: center;
}
#title1 {
text-align: center;
color: brown;
}
#title2 {
color: brown;
}
</style>
<head>
<meta charset="ISO-8859-1">
<title>RESTAURANT REVIEWS</title>
</head>
<body style="background-color: beige;">

	<div class="head">
		<h1>RESTAURANT REVIEWS</h1>
	</div>
	<h1 id="title1">Input Info And Click Add To Submit Review</h1>

	<form class="forms" method="post" action="#" th:action="@{/inputReview}" th:object="${review}">
		<input type="hidden" name="id" th:field="*{id}"/><br><br>
		Name: <input type="text" name="name" th:field="*{resName}" /><br><br>
		Genre: <input type="text" name="genre" th:field="*{resReview}" /><br><br>
		Day: <input type="date" name="day" th:field="*{showDay}" /><br><br>
		Time: <input type="time" name="time" th:field="*{showTime}" /><br><br>
		<input type="submit" value="Add Review" /><br>
	</form>
		<br>
	<h2 id="title2">Show List</h2>
	
		<table th:if="${reviewList != null AND reviewList != ''}">
			<tr th:each="s : ${reviewList}">
				<td th:text="${s.id}">1</td>
				<td th:text="${s.resName}">Demetres</td>
				<td th:text="${s.resReview}">Really tasty Deserts!</td>
				<td th:text="${s.showDay}">2020-11-23</td>
				<td th:text="${s.showTime}">03:28</td>
			</tr>
		</table>		
</body>
</html>